{% extends 'base.html.twig' %}

{% block title %}Liste des events{% endblock %}

{% block body %}
<section class="event">

    {% for events in events %}
    <article>
        <h2>Liste des events</h2>
        <h2>{{ events.nom }}</h2>
        <div class="content">
            <img src="https://via.placeholder.com/300" alt=""><br>
            <metadata>debute le {{ events.dateStart | date('d/m/Y') }}à {{ events.dateStart | date('h:i') }} et fini le {{ events.dateEnd| date('d/m/Y')}} à {{ events.dateStart | date('h:i') }}</metadata>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem autem eligendi ducimus, quod beatae
                consequatur, commodi, quasi recusandae nulla magni debitis atque eos modi ab! Ipsam odio cupiditate
                ducimus nihil!</p>
            <p>Quibusdam pariatur dolore laborum tempora ipsam commodi expedita delectus! Alias velit nemo quam
                repellendus eaque quos. Porro, corporis ea suscipit nisi omnis sequi, unde tempore natus nostrum, id
                in. Beatae.</p>
            <a href="{{ path('blog_show', {'id': events.id}) }}" class="btn btn-primary">lire la suite</a>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}